@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Teko:wght@300..700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top left, aqua , gray)
}

.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 8%;
    transform: translateY(20%);
    padding: 20px 40px
}

.inner-box{
    background-color:#ffffff05;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}

.singup-header h1{
    font-size: 2.5rem;
}

.singup-header p{
    font-size: 1rem;
    color: rgb(50, 46, 47);
}

.Singup-body{
    margin: 20px 0;
}

.Singup-body P{
    margin: 10px 0;
}

.Singup-body label{
display: block;
font-weight: bold;
}

.Singup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px soild black;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.Singup-body p input[type="submit"]{
    background-color:cornflowerblue;
    border: none;
    color: antiquewhite;
    cursor: pointer;
}

.Singup-body p input[type="submit"]:hover{
     background-color: darkcyan;
}

.singup-footer p {
    color:#2b2727;
    text-align: center;
}

.singup-footer p a{
   color: #00406b; 
}

.circle {
width: 200px;
height: 200px;
border-radius: 100px;
background: linear-gradient(to top right, rgb(230, 218, 218), rgb(194, 200, 200));
position: absolute;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, rgb(230, 218, 218), rgb(194, 200, 200));
    position: absolute;
    }

.c1{
    top: 100px;
    left: 40px;
}

.c2{
    bottom: 200px;
     right: 50px;
}